{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "importOrder": [
    "^@local",
    "^@(?!tanstack|radix|hookform|sentry)",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy",
    "jsx"
  ]
}
