name: Push analyze

on:
  push:
    branches: ['**']

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - uses: pnpm/action-setup@v4

      - name: Install node_modules
        run: pnpm install

      - name: Lint project files
        run: pnpm lint

      - name: Build project
        run: pnpm build
